.expenses{

}

.expense-section{

}

.expense-section-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.expense-section-name{

}

.expense-section-total{

}

.expense-section-line{
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-grey);
}

.expense-section-secondary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    color: var(--color-text-silver);
}

.expense-section-limit,
.expense-section-rest{
    color: var(--color-text-silver);
    font-size: 0.75rem;
}

.expenses-list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.expense-item{

}

.flex-between{

}

.expense-title,
.expense-value{
    font-size: 0.875rem;
    font-weight: 600;
}

.expense-date{
    color: var(--color-text-silver);
    font-weight: 600;
    font-size: 0.7rem;
}


