:root{
    --x: 40px;
    --vh: 1vh;

    --max-whidth: 500px;

    --padding-base: 20px;
    --margin-base: 20px;
    --transition-base: 0.3s linear;

    --border-radius: 10px;
    --border-radius-main: 20px;
    --loader-border-size: 2px;
    --card-border-radius: 1.25rem;


    --avatar-size: 44px;
    --round-button-size: 44px;
    --photo-size: 114px;
    --icon-size: 24px;
    --input-br: var(--border-radius);

    --card-pading: 0.5rem;

    --swiper-shift: 80px;

}