:root{
    --padding-base: 20px;
    --border-radius: 10px;
    --card-border-radius: 1rem;


    --avatar-size: 44px;
    --icon-size: 24px;
    --input-br: var(--border-radius);

    --card-pading: 0.5rem;
}